.header {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 80px;
}

.mini-cart-wrapper {
    position: relative;
    height: 100%;
    display: flex;
}

.mini-cart-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: -15px;
    width: 400px;
}

.cart-buttom:hover + .mini-cart-dropdown,
.mini-cart-dropdown:hover {
    display: block;
}

.mini-cart__view-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    gap: 20px;
}

.mini-cart__view-cart .button {
    font-size: 14px;
    padding: 6px 12px;
}

.mini-cart__total-price {
    display: flex;
    gap: 10px;
}