.product-item {
    border-bottom: 1px solid #ccc;
    color: #000;
    display: block;
    padding: 0 15px;
    text-decoration: none;
}

.product-item:last-child {
    border: none
}

.product-item:hover {
    background-color: #eee;
}