.product-list__item {
    color: #000;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
}

.product-list__item:hover {
    background-color: #eee;
}

.product-list__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.product-list__quantity-control {
    position: relative;
    z-index: 2;
}

.product-list__item .product-card__price {
    width: 130px;
    text-align: right;
}