.product-card {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.large .product-card__image {
    width: 100px;
    height: 100px;
}

.large .product-card__name {
    width: 150px;
}